<div data-role="page" id="home">

	<div data-role="header">
		<h1>Welcome to EventBuzz</h1>
	</div><!-- /header -->

	<div data-role="content">	
		<p>Hello world</p>		
	</div><!-- /content -->
	
	<%= render :partial => "shared/footer", :locals => {:viewing => :home} %>
</div><!-- /page -->