<div data-role="page" id="find">
  <div data-role="header">
    <h1>Find Events</h1>
  </div>
  
  <div data-role="content">
    <ul data-role="listview" data-inset="true" data-filter="true" date-theme ="d" data-divider-theme="a">
      <% @event_categories.each_key do |category| %>
        <li>
          <h1> <%= category %> </h1>
          <ul>
            <% cat_event = @event_categories[category] %> 
            <% cat_event.each do |event| %>
            <% event.each do |listing| %>
            <li> <%=  listing.event_title %> </li>
            <% end %>
            <% end %>
          </ul>
          
        </li>
      <% end %>
    </ul>
  </div>
  <%= render :partial => "shared/footer", :locals => {:viewing => :find} %>
</div>
