<div data-role="page" id="find">
  <div data-role="header">
    <h1>Find Events</h1>
  </div>
  
  <div data-role="content" data-inset="true" data-filter="true" data-theme="d" data-divider-theme="a">
      <% @event_categories.each_key do |category| %>
        <li>
          <div data-role="collapsible">
            <h1> <%= category %> </h1>
            <% cat_event = @event_categories[category] %> 
            <ul data-role= "listview">
              <% cat_event.each do |event| %>
                <li> <a href= <%="/event_detail?event=#{event.id}"%> > <%=  event.event_title %> </a> </li>
              <% end %>
            </ul>
          </div>
        </li>
      <%end%>
  </div>
  <%= render :partial => "shared/footer", :locals => {:viewing => :find} %>
</div>
