<div data-role="page" id="find">
  <div data-role="header">
    <h1>Event Finding Page</h1>
  </div>
  
  <div data-role="content">
    <ul data-role="listview" data-inset="true" data-filter="true">
      <% @all_events.each do |event| %>
        <li><a href="#"><%= event.event_title %></a></li>
      <% end %>
    </ul>
  </div>
  
  <%= render :partial => "shared/footer", :locals => {:viewing => :find} %>
</div>