<div data-role="page" id="map">
	<%= render :partial => "shared/header", :locals => {:viewing => "Map"} %>

	<div data-role="content" id="map_container">	
	  <a href="#" data-role="button" data-mini="true" id="locate_me">locate me</a>
    <div id="map_canvas"></div>
	</div><!-- /content -->
	
	<%= render :partial => "shared/footer", :locals => {:viewing => :map} %>
</div><!-- /page -->