<div data-role="page" id="map">
  <div data-role="header">
    <a data-rel="back">Back</a>
    <h1>Where?</h1>
  </div>

	<div data-role="content" id="map_container">	
    <div id="map_canvas"></div>
	</div><!-- /content -->
	
	<%= render :partial => "shared/footer", :locals => {:viewing => :map} %>
</div><!-- /page -->