<div data-role="page" id="map">
	<div data-role="header">
		<h1>Map View for EventBuzz</h1>
	</div><!-- /header -->

	<div data-role="content">	
		<p>Hello Map</p>		
	</div><!-- /content -->
	
	<%= render :partial => "shared/footer", :locals => {:viewing => :map} %>
</div><!-- /page -->