<div data-role="page">

	<div data-role="header">
		<h1>Welcome to EventBuzz</h1>
	</div><!-- /header -->

	<div data-role="content">	
		<p>Hello world</p>		
	</div><!-- /content -->

  <div data-role="footer" data-position="fixed">
		<div data-role="navbar">
			<ul>
				<li><a href="#" id="home" data-icon="custom" class="ui-btn-active">Home</a></li>
				<li><a href="#" id="map" data-icon="custom">Map</a></li>
				<li><a href="#" id="find" data-icon="custom">Find</a></li>
			</ul>
		</div>
	</div>
	

</div><!-- /page -->