<div data-role="footer" data-position="fixed">
	<div data-role="navbar">
		<ul>
			<li><a href="/" data-icon="custom">Home</a></li>
			<li><a href="/map" data-icon="custom">Map</a></li>
			<li><a href="#" data-icon="custom">Find</a></li>
		</ul>
	</div>
</div>