<div data-role="footer" data-position="fixed">
	<div data-role="navbar">
		<ul>
			<li><a href="#home" id="home" data-icon="custom" class="ui-btn-active">Home</a></li>
			<li><a href="/map" id="map" data-icon="custom">Map</a></li>
			<li><a href="#" id="find" data-icon="custom">Find</a></li>
		</ul>
	</div>
</div>