<!-- We should use this partial for rendering headers -->

<!-- You will likely want to pass a parameter to this view -->
<!-- Check out how the footer partial is used (it passes parameters  -->
<!-- by telling the view what its local variable are)  -->

<div data-role= "header" data-theme = "a" data-position = "fixed">
	<h1> <%= viewing %> </h1>
		<% if current_user %>
      <%= image_tag current_user.prof_pic_link, :id => "prof_pic" %>
      <%= link_to "Sign out", signout_path, id: "sign_out" %>
		<% else %>
  		<%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", rel: "external",:'data-theme' => "b" %>
		<% end %>
</div>