Array.prototype.remove = function(from, to) {
  var rest = this.slice((to || from) + 1 || this.length);
  this.length = from < 0 ? this.length + from : from;
  return this.push.apply(this, rest);
};

$(function() {
  $('body').prepend('<div id="fb-root"></div>');

   $.ajax({
     url: "//connect.facebook.net/en_US/all.js",
     dataType: 'script',
     cache: true
   });

   window.fbAsyncInit = function() {  
     FB.init({
       appId: "402439353158080",
       // uncomment this line when developing
       // appId: "402439353158080",
       cookie: true,
       status: true,
       xfbml: true
     });

     function facebook_login() {
       FB.login(function(response) {
         // redirect
         if (response.authResponse) {
           window.location = '/auth/facebook/callback';
         }
       }, { scope: 'email' });
     }
     
     
    $(document).on('click', "#sign_in", function(e) {
       e.preventDefault();
       facebook_login();
     });

     $('#sign_out').click(function(e) {
       FB.getLoginStatus(function(response) {
         if (response.authResponse) {
           FB.logout();
         }

         return true;
       });
     });
   };
  
  window.updateMyEvents = function() {
    $("#event_list").html("");
    $("#event_list").append(Mustache.to_html($('#tmpl-my-events').html()));
    
    var len = gon.my_events.length;
    var template = $('#tmpl-my-event').html();
    for (var i = 0; i < len; i++) {
      $("#event_list").append(Mustache.to_html(template, gon.my_events[i]));
    }
    
    $("#my_event_count").html(len);
    
    $("#event_list").listview("refresh");
  };

  try {
    updateMyEvents();
  } catch(err) {
  }
  
  
  var mapOptions = {
    center: new google.maps.LatLng(37.42841, -122.16960),
    zoom: 13,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    disableDefaultUI: true
  };
  
  var map = new google.maps.Map(document.getElementById("map_canvas"),
  mapOptions);

  var infowindow = new google.maps.InfoWindow({
    content: "placeholder"
  });
  
  var events = gon.events;
  var numEvents = events.length;
  for (var i = 0; i < numEvents; i++) {
    var event = events[i];
    var marker = new google.maps.Marker({
      position: new google.maps.LatLng(event.latitude,	event.longitude),
      map: map,
      title: event.event_title
    });
    // anonymous closure saves the event and marker in the local scope 
    (function(marker, event) {
      google.maps.event.addListener(marker, 'click', function() {
        var contentString = '<div id="content">' +
                              '<p>' + event.event_title + '<a href="/event_detail?event=' + event.id + '"> details </a>' +  '</p>' +
                            '</div';
        infowindow.setContent(contentString);
        infowindow.open(map,this);
      });
    })(marker, event);
  }
  
  $('#locate_me').click(function() {
    // current location
    function success(position) {
      var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
      var current_location = new google.maps.Marker({
        position: latlng,
        map: map,
        title: "You are here!"
      });
      
      map.setCenter(latlng);
      map.setZoom(15);
    }

    function failure(msg) {
      console.log(msg);
    }
    
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(success, failure);
    }
  });  
  

});