$(function() {
  $(document).on('click', "#going", function() {
    $('#event_list').append('<li> <a href= ' + window.location.href + '> <h1>'+ $('#title').html() + 
      '</h1> <p>Friends going: ' + $('num_friends').val() + '</p> </a> </li>');
    $("#event_list").listview("refresh");
  });

  $(document).on('click', "#not_going", function() {
    var event_title = $.trim($('#title').text());
    $('#event_list').children().each(function(index) {
      var title = $.trim($(this).text());
      if(title.indexOf(event_title) != -1) {
        $(this).empty();
      }      
    });
  });
});
