#event_title {
  text-align:center;	
}

.centered {
  text-align:center; 
}

.rsvp_status {
/*  text-align:center;*/
}

#center {
  text-align:center;
}

#title {
	margin: 0px;
}

#description {
	margin: 10px 0px;
}

#going {
	margin: 5px;
}

#not_going {
	margin: 5px;
}

#no_friends {
	margin: 10px;
}

#friends_going {
	margin: 10px;
}

#go {
	margin-top: 5px;
}

#not {
	margin-top: 5px;
}


.see_map {
	margin: 5px;
}

#location {
	text-align: left;
	margin: 7px 0px;
}

.bulletless {
  list-style:none;
}