#event_title {
  text-align:center;	
}

.centered {
  text-align:center; 
}

.rsvp_status {
  text-align:center;
}

#center {
  text-align:center;
}

#title {
	margin: 0px;
}

#description {
	margin: 10px;
}

#going {
	margin: 0px;
}

#not_attending {
	margin: 0px;
}

#no_friends {
	margin: 10px;
}

#friends_going {
	margin: 10px;
}

.go {
	margin: 10px;
}

.no {
	margin: 10px;
}